# DATABASE_URL="file:./database.db"

DATABASE_URL="PATH_TO_DB"
SECRET_KEY = "secret_ket"

# Заповните поле HOST_EMAIL_ADDRESS своєю поштою, що буде використовуватися для надсилання листів(Увімкніть 2-етапну аутентифікацію!).
# Щоб заповнити поле HOST_EMAIL_PASSWORD, перейдіть за адресою myaccount.google.com/apppasswords, створіть app email: напишіть network.mail. 
# Ви отримаєте код накшталт "abcd efjf opmy gvgd". Введіть його у HOST_EMAIL_PASSWORD.

# Fill in the HOST_EMAIL_ADDRESS field with your email that will be used to send emails (Enable 2-step authentication!).
# To fill in the HOST_EMAIL_PASSWORD field, go to myaccount.google.com/apppasswords, create an app email: write network.mail. 
# You will receive a code like "abcd efjf opmy gvgd". Enter it in HOST_EMAIL_PASSWORD.

HOST_EMAIL_ADDRESS=enter_your_email
HOST_EMAIL_PASSWORD=app_password